@import 'tailwindcss';
@plugin '@tailwindcss/typography';

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none; /* IE & Edge */
	scrollbar-width: none; /* Firefox */
}

.ProseMirror:focus {
	outline: none;
}

h1 {
	@apply mt-4 text-3xl font-bold;
}

h2 {
	@apply mt-4 text-2xl font-bold;
}

h3 {
	@apply mt-2 text-xl font-bold;
}
